body {
  color: #40514E;
margin: 0;
text-align:center;
font-family:'Merriweather',serif;
}
h1{
  margin: 50px auto 0 auto;
  font-size: 4em;
  font-family:'papyrus',cursive;
  color: #66BFBF;
}
.intro{
  width: 30%;
  margin: auto;
}
h2{
  font-family: 'Lucida Handwriting',sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight:normal;
  padding-bottom: 2px;
}
h3{
  font-family: 'Montserrat',sans-serif;
  color: #11999E;
}
hr{
  border: dotted #88FAF9 6px;
  border-bottom: none;
  width: 4%;
  margin:50px auto;
}
.top-container{
  position: relative;
  padding-top: 100px;
  background-color: #E4F9F5;
}

.middle-container{
font-weight: bold;
margin: 50px 0;
}

.bottom-container{
background-color: #66bfbf;
padding: 50px 0 20px;
}
img{
  position:inherit;
  left: 30px;
}

.topfeather{
  position: absolute;
  right: 600px;
  bottom: 350px;
  width: 300px;
}
.bottomfeather{
  position: absolute;
  left:1000px;
  top: 20px;
  bottom: 200px;
  width: 200px;
}
.bott1feather:hover{

}
a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
p{
  line-height: 2;
  font-family: "Ink Free";
}
.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  font-weight: bold;
}
.codeimg{
  float: left;
  margin-right: 30px;
}
.skillimg{
  float: right;
  margin-right: 30px;
  margin-right: 10px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.coding{
  float: left;
  margin-right: 30px;
}
.contactmsg{
  width: 40%;
  margin: auto;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem
  padding : 20px auto;
}
.intro{
  font-family: "Ink Free";
}
